@tailwind base;
@tailwind components;
@tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

nav {
  background: linear-gradient(to bottom, #6a19ff, #126fc5) !important;
  font-family: 'Lato', sans-serif;
}

.bg {
  background: linear-gradient(to bottom, #6a19ff, #126fc5) !important;
  font-family: 'Lato', sans-serif;
}


/* SideBar */
.sidenav {
    width: 80%;
    height: 25vh;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  
  .container {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    text-align: center;
  }
  
  label, .label {
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
  }


  /* Side Bar Content */
input[type="color"] {
    border-radius: 9px;
    width: 100px;
    margin-bottom: 30px;
    padding: 4px;
    border: none;
  }
  
  input[type="checkbox"]{
    margin-bottom: 30px;
  }
  
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 12px; 
    background: linear-gradient(to bottom, #006098, #00A7DB);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px; 
    outline: none; 
    width: 200px;
    margin-bottom: 30px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 16px; 
    height: 16px; 
    background: #000000; 
    border-radius: 50%; 
    cursor: pointer; 
  }

  .search {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    z-index: 10;
  }
  
  .search input {
    padding: 10px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 430px;
  }
  
.grow{
  z-index: 0;
}

  .slider .ms-Slider-thumb {
    background-color: white;
  }

  .slider .ms-Slider-active {
    background-color: #006098
  }